<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>backgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmg+pN9D2D6k30PYPqTfQ9AYY=
		</data>
		<key>borderColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmgwAAAD+DAAAAP4MAAAA/AIY=
		</data>
		<key>dividerLineColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg83MTD6DzcxMPoPNzEw+AYY=
		</data>
		<key>imagePrefix</key>
		<string>dark</string>
		<key>name</key>
		<string>Claire</string>
		<key>resultShortcutColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmgzidJD+D2zPvPYM7KdQ+AYY=
		</data>
		<key>resultSubtextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg83MzD6DzczMPoPNzMw+AYY=
		</data>
		<key>resultTextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZoOrqio/AYY=
		</data>
		<key>scrollbarColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg83MTD6DzcxMPoPNzEw+AYY=
		</data>
		<key>searchFieldBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmAAAAAYY=
		</data>
		<key>searchFieldTextColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZgEBhg==
		</data>
		<key>selectedResultBackgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmgx+Faz6DH4VrPoMfhWs+AYY=
		</data>
		<key>selectedResultForeground</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMDhAJmZoOrqio/AYY=
		</data>
		<key>selectedResultShortcutColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmgws5az+DBOcqPoMHlRc/AYY=
		</data>
		<key>selectedSubtextForeground</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMChARmZmZmg83MzD6DzczMPoPNzMw+AYY=
		</data>
		<key>uid</key>
		<string>alfred.theme.custom.E47FD0DE-F182-48ED-859A-53B3F0486E7B-392-0002EB12366EC596</string>
	</dict>
</array>
</plist>
